.forText {
  font-size: small;
  margin-left: 5px;
}

.breakpoint {
  /* One column for smartphones */
  max-width: 100%;
  display: inline-flex;
}
@media (min-width: 200px) {
  .breakpoint {
    max-width: 50%;
  }
}
@media (min-width: 240px) {
  .breakpoint {
    max-width: 50%;
  }
}

@media (min-width: 420px) {
  /* Two columns for tablets */
  .breakpoint {
    max-width: 33.33%;
  }
}
@media (min-width: 900px) {
  /* Four columns for large devices */
  .breakpoint {
    max-width: 20%;
  }
}

@media (min-width: 800px) {
  /* Four columns for large devices */
  .breakpoint {
    max-width: 25%;
  }
}

.dismovie {
  margin-top: 5%;
}

@media (min-width: 200px) {
  .dismovie {
    margin-top: 15%;
  }
}
@media (min-width: 240px) {
  .dismovie {
    margin-top: 25%;
  }
}

@media (min-width: 420px) {
  /* Two columns for tablets */
  .dismovie {
    margin-top: 15%;
  }
}
@media (min-width: 760px) {
  /* Four columns for large devices */
  .dismovie {
    margin-top: 8%;
  }
}
